general {
    # Use Bloodmoon for hardcore night.
    B:"Allow Sleep"=true
    I:"Hardcore Day Cycle"=0

    # Don’t target villagers.
    B:"Villager Targeting"=false

    I:"Awareness Radius"=32
    I:"Xray Mobs"=16
}

other {
    # Let passive mobs stay peaceful.
    B:"Animals Retaliate"=false
}
